<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>DJ <%= @team['mentor'] %></title>
  <link rel="icon" href="https://dj-system.herokuapp.com/favicon.ico" />
  <link rel="stylesheet" href="https://dj-system.herokuapp.com/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <script type="text/javascript">
    function go(){
      //EnterキーならSubmit
      if(window.event.keyCode==13)document.className.search_button();
    }
  </script>
</head>

<body>
  <header>
    <h1>DJ <%= @team['mentor'] %></h1>
    <p><%= @team['description'] %></p>
  </header>
  <% if @add_musics != nil %>
    <section class="add_list">
      <% @add_musics.each do |music| %>
        <div class="content">
          <img src="<%= music["artworkUrl100"] %>">
          <div class="info">
            <p><%= music["trackName"] %></p>
            <p class="artistName"><%= music["artistName"] %></p>
          </div>
          <form method="post" action="/music/temp/delete" >
            <input type="hidden" name="team_id" value=<%= params[:team_id] %>>
            <input type="hidden" name="q" value=<%= params[:q] %>>
            <input type="hidden" name="trackId" value=<%= music["trackId"] %>>
            <input type="hidden" name="add_list" value=<%= params[:add_list] %>>
            <input type="submit" value="&#xf2ed" class="far">
          </form>
        </div>
      <% end %>
    </section>
  <% end %>
  <section class="search">
    <form action=<%= request.path %>>
      <input type="text" name="q" placeholder="Search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" aria-multiline="false">
      <i class="fas fa-search search_icon" aria-hidden="true"></i>
      <input type="hidden" name="add_list" value=<%= params[:add_list] %>>
      <input type="submit" class="search_button none">
    </form>
    <table>
      <tr class="head">
        <th><p>Song</p></th>
        <th class="phone_off"><p>Artist</p></th>
        <th class="phone_off"><p>Album</p></th>
        <th class="phone_off"><p>Time</p></th>
        <th><p>Add</p></th>
      </tr>
      <% if !@musics.empty? %>
        <% @musics.each do |music| %>
          <% begin %>
            <tr class="content">
              <td class="song">
                <img src="<%= music["artworkUrl100"] %>">
                <p><%= music["trackName"] %><br class="phone_on"><span class="phone_on"><%= music["artistName"] %></span></p>
              </td>
              <td class="phone_off"><p><%= music["artistName"] %></p></td>
              <td class="phone_off"><p><%= music["collectionName"] %></p></td>
              <td class="phone_off"><p><%= music["trackTimeMillis"] / 60000 %>:<%= sprintf("%02d", music["trackTimeMillis"] % 60000 / 1000 ) %></p></td>
              <td>
                <% if params[:add_list] != nil && params[:add_list].include?(music["trackId"].to_s) %>
                  <form method="post" action="/music/temp/delete" >
                    <input type="hidden" name="team_id" value=<%= params[:team_id] %>>
                    <input type="hidden" name="q" value=<%= params[:q] %>>
                    <input type="hidden" name="trackId" value=<%= music["trackId"] %>>
                    <input type="hidden" name="add_list" value=<%= params[:add_list] %>>
                    <input type="submit" value="&#xf00c" class="fas">
                  </form>
                <% else %>
                  <form method="post" action="/music/temp/add" >
                    <input type="hidden" name="team_id" value=<%= params[:team_id]  %>>
                    <input type="hidden" name="q" value=<%= params[:q] %>>
                    <input type="hidden" name="trackId" value=<%= music["trackId"] %>>
                    <input type="hidden" name="add_list" value=<%= params[:add_list] %>>
                    <input type="submit" value="&#xf067" class="fas">
                  </form>
                <% end %>
              </td>
            </tr>
          <% rescue %>
            <p>Error</p>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </section>
  <form method="post" action="/confirm" class="next">
    <input type="hidden" name="team_id" value=<%= params[:team_id]  %>>
    <input type="hidden" name="add_list" value=<%= params[:add_list] %>>
    <input type="submit" value="&#xf1d8 送信" class="fas">
  </form>
</body>
</html>
